*{
    margin:0;
    padding:0;
    font-family: "Ubuntu",sans-serif;
    box-sizing:border-box;
    text-decoration: none;
}
body{
    height: 100vh;
    background: url('bg4.jpg');
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
   
}
.flag{
    position: fixed;
    top:3px;
    left:3px;
    width:35px;
    height: 35px;
    
}
.flag img{
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 50%;
}
.profile-card{
    width: 350px;
    text-align: center;
    border-radius: 8px;
    overflow:hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.card-header{
    background:yellow;
    padding:40px 40px;
}
.pic{
    display:inline-block;
    padding: 8px;
    background: linear-gradient(130deg,yellow,black);
    margin: auto;
    border-radius: 50%;
    animation: animated-gradient 4s linear infinite;
    background-size: 200% 200%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
 @keyframes animated-gradient
 {
     25%{
         background-position: left bottom;
     }
     50%
     {
         background-position: right bottom;
     }
     75%
     {
         background-position: right top;
     }
     100%
     { 
         background-position: left top;
     }
 } 
.pic img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.name{
    color:black;
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0
}
.desc{
    font-size:18px;
    color:black;
}
.sm{
    display:flex;
    justify-content: center;
    margin:20px 0;
}
.sm a{
    color:black;
    margin-left: 3px;
    width:40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display:flex;
    font-size: 22px;
    transition: .3s linear;
    border-radius: 50%;
}
.sm a:hover{
    color:#f2f2f2;
    background:black;
}
.contact-btn{
    display:inline-block;
    padding:12px 50px;
    color:black;
    border:2px solid black;
    border-radius: 6px;
    margin-top:5px;
    transition: .3s linear;
    background:yellow;
}
.contact-btn:hover{
    background:black;
    color:#f2f2f2;
    border:2px solid black;
}
.card-footer{
    background:black;
    padding:60px 10px;
}
.numbers{
    display:flex;
    align-items:center;
}
.item{
    flex:1;
    text-transform: uppercase;
    font-size: 13px;
    color:#f2f2f2;

}
.item span {
    display:block;
    color:yellow   ;
    font-size: 30px;
}
.border{
    width: 1px;
    height: 30px;
    background: #bbb;
}
